<div>
  <h2> Powered by Angular</h2>
  <h4>Version: 1.0.0</h4>
  <div class="about">

    <p>This app was inspired by the <a href="https://www.youtube.com/@TraversyMedia" target="_blank"
        title="Tarversy Media YouTube Channel">Traversy Media</a> Task Tracker YouTube tutorial. I adapted the design to
      work with Angular version 17.3.3 (the tutorial used version 11). </p>
    <p>You can find the full tutorial here: <a
        href="https://www.youtube.com/watch?v=3dHNOWTI7H8&ab_channel=TraversyMedia" target="_blank"
        title="YouTube Tutorial - Angular Crash Course">YouTube Tutorial</a> and here is the link for the <a
        href="https://github.com/bradtraversy/angular-crash-2021" target="_blank" title="GitHub repository">GitHub
        repository</a> </p>
  </div>

  <!-- we are not using an href here to prevent the entire page from being reloaded! -->
  <button class="btn" routerLink="/">Go Back</button>
</div>